.disappear {
    display: none;
    transition: 0.4s;
}

.colorContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%;
    background-color: pink;
    font-size: 1.5rem;
}

.colorHex {
    cursor: pointer;
}

.columnLayout .colorHex {
  order: 1;
}

.colorPicker {
    position: absolute;
}

.iconContainer {
    display: flex;
    gap: 1rem;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.infoContainerMobile {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 5%;
}

.infoContainerMobile .colorHex {
  order: 0;
}

.columnLayout {
  flex-direction: column;
}

.icon {
    cursor: pointer;
    margin: 1rem 0;
}

.swapBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 19%;
    margin-top: 1.5rem;
    align-self: center;
    opacity: 0;
    background-color: #f2f3f7;
    padding: 0.1rem 0.2rem;
    border: 0.1rem solid #5579c8;
    border-radius: 50rem;
}

.smallScreenSwapButton {
    opacity: 1;
    margin-left: 0;
    margin-top: 18%;
}

.swapBtn:hover {
  opacity: 1;
}