nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2rem;
    color: #5579c8;
    background: linear-gradient(to right, #f9f9f9, rgb(197, 198, 227));
    border-bottom: 0.1rem solid #5579c8;
}

.dark-toggle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.5rem;
    color: #ffffff;
}

.light-toggle {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0.4rem;
    color: #5579c8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-color: #1E1E1E;
    border-width: 0.2rem;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5579c8;
    border-radius: 34px;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #1E1E1E;
}

input:checked + .slider:before {
    transform: translateX(26px);
}