.App {
  text-align: center;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.button {
  background-color: #5579c8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 50%;
  padding: 1rem 0;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1.3rem;
}

.button:hover {
  background-color: #92ade9;
  color: #ffffff;
}

.buttonLong {
  width: 100%;
}

.buttonWhite {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.buttonBlack {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.buttonsColumnLayout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;
}

.buttonFullSize {
  width: 100%;
}

.topButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1%;
  z-index: 2;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.colorSwatchesContainer {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 95%;
  overflow: hidden;
  border-radius: 8px;
  border: 0.5px solid rgb(180, 180, 180);
  z-index: 2;
}

.columnLayout {
  flex-direction: column;
  height: auto;
}

.generateColorsBtn {
  width: 100%;
}

.grid-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2%;
  padding: 0 0 10% 0;
  height: fit-content;
  width: 95%;
  margin: 2rem 0 2rem 0;
  opacity: 0;
  transition: 0.4s;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  border-radius: 0.5rem;
  border: 0.1rem solid;
}

.mobile-container {
  margin: 1rem 0 1rem 0;
  width: 95%;
}

.mobile-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.1rem solid;
}

.contrastAnimation {
  opacity: 1;
}

.light {
  background-color: #ffffff;
  color: #1E1E1E;
  transition: 0.4s;
}

.dark {
  background-color: #1E1E1E;
  color: #fff5f5;
  transition: 0.4s;
}

.blank {
  opacity: 0;
  transition: 0.4s;
  cursor: default;
}